.presentation {
  width: 100%;
  height: 100%;
}

.img_presentation {
  width: 100%;
  height: 100vh;
  background: #fff;
  background-image: url("../../../../assets/minimalist-wallpapers-fondos-de-pantalla-minimalista-celular-4k-28-_-Imágenes-Bonitas-Gratis.png"),
    url("../../../../assets/descarga.png");
  background-position: left, right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Righteous", cursive;
  color: white;
}

.icon-scroll-down {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.icon-scroll-down a {
  text-decoration: none;
}

.icon-scroll-down i {
  font-size: 45px;
  cursor: pointer;
  user-select: none;
  display: grid;
  place-items: center;
  scroll-behavior: smooth;
  color: #4c3d3d;
}

.icon-scroll-down:hover {
  transform: scale(1.1);
}

.content {
  width: 100%;
  padding: 50px 80px;
  background: var(--green);
  box-sizing: border-box;
  transition: 0.5s;
}

.content-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title .title {
  position: relative;
  width: fit-content;
  letter-spacing: 3px;
}

.content section {
  width: 100%;
  height: 80vh;
  display: flex;
  overflow: auto;
}

.content section .list {
  height: 100%;
  width: 45%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}

.content section .title {
  cursor: pointer;
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Step-Active {
  color: #4c3d3d;
}

.steps {
  position: relative;
  width: 55%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
  color: #4c3d3d;
}

.steps p {
  font-size: 20px;
  width: 75%;
}

.steps img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: left;
  border-radius: 5px;
}

.steps button {
  background: white;
  border: 1px black solid;
}

/* Dark theme */
.dark .content {
  background: #232323;
}

.dark .steps {
  color: white;
}
