<!-- NoteNexus -->
<app-menu-bar [estilos]="{'position': 'relative', 'box-shadow': '0px 0px 2px gray'}">
  <ul class="buscador">
    <i class="bi bi-search"></i>
    <input class="input" name="text" placeholder="Search" type="search" [(ngModel)]="search" (keyup)="Search(notes, search)">
  </ul>
  <ul>
    <div class="perfil">
      <i class="bi bi-bookmark-fill"></i>
      <img src="https://fondosmil.com/fondo/57578.jpg">
    </div>
  </ul>
</app-menu-bar>



<div class="notes">
  <app-sidebar-menu></app-sidebar-menu>
  <div style="width: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>