<!-- NoteNexus -->
<section class="menu-bar">
  <ul class="logo">
    <img class="img" src="../../../assets/logo.svg" alt="Captura tus ideas en un santuario digital.">
    <h1 class="logotipo">NoteNexus</h1>
  </ul>

  <ul class="buscador">
    <i class="bi bi-search"></i>
    <input class="input" name="text" placeholder="Buscar" type="search">
  </ul>

  <ul>
    <div class="perfil">
      <i class="bi bi-bookmark-fill"></i>
      <img src="https://fondosmil.com/fondo/57578.jpg" alt="" srcset="">
    </div>
  </ul>

</section>