.conteiner-notes {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
}

.create-note {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.join {
  position: relative;
  padding: 10px;
  width: 45%;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  transition: all 0.2s;
  cursor: text;
}

.join span {
  color: gray;
  font-size: 14px;
}

.title-content-form {
  display: flex;
  flex-direction: column;
}

.title-content-form input {
  outline: none;
  border: none;
  padding: 6px;
  font-family: sans-serif;
}

.title-content-form input[type="text"]::placeholder {
  user-select: none;
}

textarea {
  max-height: 300px;
  overflow: auto;
  padding: 6px;
  font-family: sans-serif;
  outline: none;
  border: none;
  resize: none;
}

textarea::placeholder {
  user-select: none;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background: #c8ccd4;
  border-radius: 5px;
}


.save-button{
  position: relative;
  top: -1px;
  box-sizing: border-box;
  padding: 7px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--green);
  color: white;
}

.save-button:disabled{
  opacity: 0.5;
  cursor: auto;
}

.save-button:hover{
}

/* Check Box Button */

.buttons-checks {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 6px;
  padding-top: 20px;
  justify-content: space-between;
}

.check {
  display: flex;
  gap: 6px;
}

.cbx {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  display: flex;
}

.cbx:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 3px;
  height: 7px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#cbx1:checked ~ .cbx,
#cbx2:checked ~ .cbx,
#cbx3:checked ~ .cbx {
  border-color: transparent;
  background: var(--green);
  animation: jelly 0.6s ease;
}

#cbx1:checked ~ .cbx:after,
#cbx2:checked ~ .cbx:after,
#cbx3:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.cntr {
  position: relative;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

.hidden-xs-up {
  display: none !important;
}
