* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212a3e;
}

nav {
  position: relative;
  width: 250px;
  height: 100%;
  padding: 20px 0px;
  box-shadow: 1px 0 5px -2px #888;
  user-select: none;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 5px;
}

nav ul a {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-radius: 0px 50px 50px 0px;
  display: flex;
  gap: 10px;
}

.active {
  background: #a4d0a4;
  color: #fff8d6;
}

nav ul a:hover:not(.active) {
  background: rgba(0, 0, 0, 0.11);
}
