.container {
  width: 100%;
  padding: 20px;
  padding-bottom: 100px;
  box-sizing: border-box;
  column-count: 4;
  column-gap: 1rem;
}

.container > *{
  break-inside: avoid;
}

.card {
  max-width: 300px;
  position: relative;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #212a3e;
  transition: 0.1s linear;
  white-space: pre-wrap;
  margin-bottom: 1rem;
}

.allContent {
  max-height: 400px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.allContent::-webkit-scrollbar {
  display: none;
}

.allContent:hover::-webkit-scrollbar {
  width: 5px;
  display: block;
}

.allContent::-webkit-scrollbar-thumb {
  background: #c8ccd4;
  border-radius: 5px;
}

.card p {
  word-wrap: break-word;
}

.card:hover {
  box-shadow: 0px 0px 3px #212a3e;
}

.card span {
  z-index: 1;
  text-align: center;
}

.add {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

.add:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.632);
}

.icons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.bi-heart-fill {
  color: red;
}

.bi-star-fill {
  color: yellow;
}

.card:hover .bi-trash-fill {
  opacity: 0.5;
}

.bi-trash-fill {
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}

.bi-trash-fill:hover {
  opacity: 1 !important;
}

.date {
  font-size: 10px;
  color: gray;
  user-select: none;
}

@media screen and (max-width: 1280px) {
  .container {
    columns: 4;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    columns: 3;
  }
}

@media screen and (max-width: 768px) {
  .container {
    columns: 2;
  }
}

@media screen and (max-width: 640px) {
  .container {
    columns: 1;
  }
}
